<div class="container">
  <h2>Todos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Completed</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.title }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.deadline }}</td>
        <td>{{ todo.completed }}</td>
        <td>{{ todo.createdAt }}</td>
        <td>{{ todo.updatedAt }}</td>
        <td>
          <button class="btn btn-primary" (click)="editTodo(todo.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
          <button class="btn btn-info" (click)="viewTodoDetails(todo.id)">View</button>
          <button class="btn btn-primary" (click)="markTodoCompleted(todo.id)" [disabled]="todo.completed">Complete</button>
          <button class="btn btn-primary" (click)="markTodoUncompleted(todo.id)" [disabled]="!todo.completed">Uncomplete</button>

          
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="fetchTodos()">All Todos</button>
  <button class="btn btn-primary" (click)="fetchExpiredTodos()">Expired Todos</button>
</div>
